.pageTiga{
    background-image: url("/src/foto/blue3.png");
    background-size: cover;
}
.experience{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
.experience p{
    display: flex;
    color: #087ea4;
}
.isiExp{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    color: black;
}
.isiExp p{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    font-weight: bold;
}
.isiExp ul{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 50px;
    font-size: 15px;
    color: black;
}
@media screen and (max-width:768px) {
    .pageTiga{
        background-image: url("/src/foto/blue3.png");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    .experience{
        display: flex;
        justify-content: center;
        height: 10vh;
        width: 100%;
        font-size: 25px;
        font-weight: bold;
    }
    .experience p{
        display: flex;
    }
    .isiExp{
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        color: black;
    }
    .isiExp p{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 15px;
        font-weight: bold;
    }
    .isiExp ul{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        padding-right: 50px;
        font-size: 15px;
        color: black;
    }
}
