.pageEmpat{
    background-image: url("/src/foto/background5.jpg");
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
}
.Contact{
    display: flex;
    justify-content: center;
    width: inherit;
    height: 10vh;
    font-weight: bold;
}
.Contact p{
    display: flex;
    font-size: 24px;
    color: orangered;
    padding-top: 16px;
}
.Media{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 45vh;
    justify-content: center;
    gap:240px;
}
.isiMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.isiMedia a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.isiMedia a:hover {
    color: orangered;
    text-decoration: none;
}
.isiMedia img{
    max-width: 100px;
    height: auto;
}
.Media2{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 45vh;
    justify-content: center;
    gap: 80px;
}
.isiMedia2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.isiMedia2 a:hover {
    color: orangered;
}
.isiMedia2 a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    align-items: center;
}
.isiMedia2 img{
    width: 100px;
    height: auto;
}
@media screen and (min-width:280px) and (max-width:419px){
    .Contact p{
        font-size: 16px;
    }
    .Media{
        gap: 32px;
    }
    .isiMedia img{
        width: 50px;
        height: auto;
        padding-left: 16px;
    }
    .isiMedia a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        padding: 8px;
    }
    .Media2{
        display: flex;
        gap: 24px;
    }
    .isiMedia2 img{
        width: 50px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 8px;
    }
}
@media screen and (min-width:419px) and (max-width:576px){
    .Contact p{
        font-size: 16px;
    }
    .Media{
        gap: 32px;
    }
    .isiMedia img{
        width: 60px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        font-size: 8px;
        text-align: center;
        padding: 8px;
    }
    .Media2{
        display: flex;
        gap: 24px;
    }
    .isiMedia2 img{
        width: 60px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        padding: 8px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .Contact p{
        font-size: 16px;
    }
    .Media{
        gap: 32px;
    }
    .isiMedia img{
        width: 70px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        font-size: 8px;
        text-align: center;
        padding: 8px;
    }
    .Media2{
        display: flex;
        gap: 24px;
    }
    .isiMedia2 img{
        width: 70px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        padding: 8px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .Contact p{
        font-size: 16px;
    }
    .Media{
        gap: 32px;
    }
    .isiMedia img{
        width: 80px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        font-size: 8px;
        text-align: center;
        padding: 32px;
    }
    .Media2{
        display: flex;
        gap: 24px;
    }
    .isiMedia2 img{
        width: 80px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        padding: 32px;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    .Contact p{
        font-size: 16px;
    }
    .Media{
        gap: 100px;
    }
    .isiMedia img{
        width: 90px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        /* padding: 32px; */
        max-width: 100px;
    }
    .Media2{
        display: flex;
        gap: 100px;
    }
    .isiMedia2 img{
        width: 90px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 32px;
        max-width: 100px;
    }
}
@media screen and (min-width:993px) and (max-width:1240px){
    .Contact p{
        font-size: 24px;
    }
    .Media{
        gap: 120px;
    }
    .isiMedia img{
        width: 100px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        padding: 32px;
        max-width: 100px;
    }
    .Media2{
        display: flex;
        gap: 120px;
    }
    .isiMedia2 img{
        width: 100px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        padding: 32px;
        gap: 16px;
        max-width: 100px;
    }
}
@media screen and (min-width:1241px) and (max-width:1800px){
    .Contact p{
        font-size: 24px;
    }
    .Media{
        gap: 120px;
    }
    .isiMedia img{
        width: 100px;
        height: auto;
        /* padding-left: 16px; */
    }
    .isiMedia a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        /* padding: 32px; */
        gap:16px;
        max-width: 100px;
    }
    .Media2{
        display: flex;
        gap: 120px;
    }
    .isiMedia2 img{
        width: 100px;
        height: auto;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        /* padding: 32px; */
        gap: 16px;
        max-width: 100px;
    }
}