.pageEmpat{
    background-image: url("/src/foto/slideempat.jpg");
    background-size: cover;
}
.Contact{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-size: 30px;
    font-weight: bold;
}
.Contact p{
    display: flex;
    color: #087ea4;
}
.Media{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
    justify-content: center;
    gap:100px;
}
.isiMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.isiMedia a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
    justify-content: center;
}
.isiMedia a:hover {
    color: #ead200;
    text-decoration: none;
}
.isiMedia img{
    width: 100px;
    height: auto;

}
.Media2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
    justify-content: center;
    gap: 100px;
}
.isiMedia2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.isiMedia2 a:hover {
    color: #ead200;
}
.isiMedia2 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.isiMedia2 img{
    width: 100px;
    height: auto;
}

@media screen and (max-width:768px) {
    .pageEmpat{
        background-image: url("/src/foto/slideempat.jpg");
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .Contact{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 10vh;
        font-size: 30px;
        font-weight: bold;
    }
    .Contact p{
        display: flex;
        color: #087ea4;
    }
    .Media{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 45vh;
        justify-content: center;
    }
    .isiMedia{
        display: flex;
        flex-direction: column;
        gap:30px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .isiMedia a:hover {
        color: #ead200;
        text-decoration: none;
    }
    .isiMedia a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    .isiMedia img{
        width: 70%;
        height: auto;
    }
    .Media2{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 45vh;
        justify-content: center;
        gap: 50px;
    }
    .isiMedia2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .isiMedia2 a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    .isiMedia2 a:hover{
        color: #ead200;
    }
}