.pageSatu{
    background-image: url("/src/foto/background1.png");
    background-size: cover;
    position: center center;
    max-width: 100vw; 
    height: 100vh;
}
.topnav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: inherit;
    height: 10vh;
}
.toplink{
    display: flex;
    flex-direction: row;
    gap: 16px;
    top: 0;
    overflow:hidden;
    position: fixed;
    z-index: 1;
}
.toplink a{
    display: flex;
    text-decoration: none;
    font-size: 24px;
    padding-top: 8px;
    padding-right: 16px;
    color: orangered;
    font-weight: bold;
}
.toplink a:hover{
    color: white;
}
.awal{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 60vh;
    justify-content: center;
    text-align: center;
}
.awal span{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.awal p{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bold;
    font-size: 24px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: 30vh;
}
.butt{
    display: flex;
    gap: 100px;
    padding: 10px 20px;
}
.butt a{
    background-color: orangered;
    color:white;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.butt a:hover{
    background-color: #f8f6e3;
    text-shadow:5px;
    color: black;
}
@media screen and (min-width:280px) and (max-width:419px) {
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .toplink a{
        display: flex;
        font-size:8px;
        padding-left: 8px;
    }
    .toplink a:hover{
        color: white;
    }
    .awal span{
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    .awal p{
        color:black;
        font-weight: bold;
        font-size: 8px;
    }
    .butt a{
        font-size: 8px;
    }
}
@media screen and (min-width:419px) and (max-width:576px) {
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .toplink a{
        display: flex;
        font-size: 16px;
        padding-left: 8px;
    }
    .toplink a:hover{
        color: white;
    }
    .awal span{
        color: black;
        font-weight: bold;
        font-size: 24px;
    }
    .awal p{
        color:black;
        font-weight: bold;
        font-size: 16px;
    }
    .butt a{
        font-size: 16px;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .toplink a{
        display: flex;
        font-size: 16px;
    }
    .toplink a:hover{
        color: white;
    }
    .awal span{
        color: black;
        font-weight: bold;
        font-size: 24px;
    }
    .awal p{
        color:black;
        font-weight: bold;
        font-size: 16px;
    }
    .butt a{
        font-size: 16px;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .toplink a{
        display: flex;
        font-size: 24px;
    }
    .toplink a:hover{
        color: white;
    }
    .awal span{
        color: black;
        font-weight: bold;
        font-size: 32px;
    }
    .awal p{
        color:black;
        font-weight: bold;
        font-size: 16px;
    }
    .butt a{
        font-size: 16px;
    }
}
@media screen and (min-width:993px) and (max-width:1240px) {
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .toplink a{
        display: flex;
        font-size: 24px;
    }
    .toplink a:hover{
        color: white;
    }
    .awal span{
        color: black;
        font-weight: bold;
        font-size: 32px;
    }
    .awal p{
        color:black;
        font-weight: bold;
        font-size: 24px;
    }
    .butt a{
        font-size: 24px;
    }
}
/* .pageSatu{
    background-image: url("/src/foto/background1.png");
    background-size: cover;
    position: center center;
    max-width: 100vw; 
    height: 100vh;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: 30vh;
}
.butt{
    display: flex;
    gap: 100px;
    padding: 10px 20px;
    font-size: 20px;
}
.butt a{
    background-color: orangered;
    color:white;
    padding: 8px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}
.butt a:hover{
    background-color: #f8f6e3;
    text-shadow:5px;
    color: black;
} */
/* @media  screen and (min-width:280px)and (max-width:400px) {
    .pageSatu{
        background-image: url("/src/foto/background1.png");
        background-size: cover;
        position: center center;
        max-width: 100vw; 
        height: 100vh;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 10vh;
    }
    .toplink{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .toplink a{
        font-size: 8px;
    }
    .awal{
        display: flex;
        flex-direction: column;
    }
    .awal span{
        display: flex;
        flex-direction: column;
        font-size: 8px;
    }
    .awal p{
        display: flex;
        flex-direction: column;
        font-size: 8px;
    }
    .button{
        display:flex;
        flex-direction: row;
        height: 30vh;
    }
    .butt{
        display: flex;
        flex-direction:row;
    }
    .butt a{
        background-color: orangered;
        color:white;
        border-radius: 8px;
        text-decoration: none;
        font-size: 8px;
        padding: 8px 16px;
        font-weight: bold;
        justify-content: center;
    }
    .butt a:hover{
        background-color: #f8f6e3;
        color: black;
    }
} */